name: Deploy Azure Functions

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  NODE_VERSION: '20.x'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Build (if exists)
        run: npm run build --if-present

      - name: Zip app for deployment
        run: |
          zip -r functionapp.zip . \
            -x ".git/*" \
               ".github/*" \
               ".vscode/*"

      - uses: actions/upload-artifact@v4
        with:
          name: functionapp
          path: functionapp.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: functionapp

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_966B0EAC8D5049F4AC5FAD4A29A4B9D8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C28212BB48AF4D15AEBF90C9A47A6893 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4E3B797297EA4E64AEC5F17C8C3AA551 }}

      - uses: Azure/functions-action@v1
        with:
          app-name: func-com682-video123
          package: functionapp.zip


